@font-face {
  font-family: "Text";
  font-display: fallback;
  src: url("/fonts/Text.woff") format("woff"),
    url("/fonts/Text.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mono";
  font-display: fallback;
  src: url("/fonts/Mono.woff") format("woff"),
    url("/fonts/Mono.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nikolai";
  font-display: fallback;
  src: url("/fonts/Nikolai-Italic.woff") format("woff"),
    url("/fonts/Nikolai-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

:root {
  --background: rgb(255, 255, 255);
  --background-alpha: 255, 255, 255;
  --foreground: rgb(0, 0, 0);
  --foreground-alpha: 0, 0, 0;
  --subdued: rgb(140, 140, 140);
  --extra-subdued: rgb(220, 220, 220);
  --accent: rgb(245, 42, 42);
  --accent-alpha: 245, 42, 42;
  --font-heading: "Nikolai", serif;
  --font-sans: "Text", system, -apple-system, "Helvetica Neue", Helvetica,
    "Segoe UI", "Roboto", sans-serif;
  --font-mono: "Mono", SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
}

::selection {
  background-color: var(--accent);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0, 0, 0);
    --background-alpha: 0, 0, 0;
    --foreground: rgb(255, 255, 255);
    --foreground-alpha: 255, 255, 255;
    --subdued: rgb(168, 168, 168);
    --extra-subdued: rgb(30, 30, 30);
  }

  ::selection {
    color: var(--foreground);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  cursor: crosshair;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration-color: rgba(var(--foreground-alpha), 0.4);
  transition: color 150ms ease, text-decoration-color 150ms ease;
}

a:hover {
  color: var(--accent);
  text-decoration-color: var(--accent);
  cursor: crosshair;
}

a:focus-visible {
  text-decoration-color: var(--foreground);
  outline: none;
}

hr {
  border: none;
  background: var(--extra-subdued);
  width: 100%;
  max-width: 4em;
  height: 1px;
  margin: 2em 0;
}

@keyframes ellipsis {
  to {
    width: 0.8em;
  }
}

.loading-text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\\2026"; /* ascii code for the ellipsis character */
  width: 0;
}

.subdued {
  color: var(--subdued);
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.no-underline {
  text-decoration: none;
}

.title {
  font-family: var(--font-heading);
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  line-height: 1;
}

.title a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.title a:hover {
  opacity: 0.64;
}

.heading {
  font-family: var(--font-sans);
  font-weight: normal;
  font-size: 1.6rem;
}

.subheading,
.body-text {
  font-family: var(--font-sans);
  font-weight: normal;
  font-size: 1rem;
}

.body-text.small {
  font-size: 0.75rem;
}

.body-text.large {
  font-size: 1.6rem;
}

.mono-text {
  font-family: var(--font-mono);
  font-size: 0.875rem;
}

.mono-text.small {
  font-size: 0.7rem;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6em 1em 12vw;
}

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: baseline;
  mix-blend-mode: difference;
}

.layout-nav {
  display: flex;
  align-content: flex-start;
  gap: 1em;
  text-align: right;
}

.layout-section {
  padding-top: 4em;
}

.page-header {
  margin-bottom: 4em;
}

.photo-journal {
  display: grid;
  grid-gap: 8vw 4vw;
  align-items: center;
}

.image-post {
  width: 100%;
  max-width: 90vh;
  height: fit-content;
}

.image-post.small {
  align-self: flex-start;
  margin: 0 auto;
  padding: 0 16vw 0 8vw;
}
.image-post.small:nth-of-type(even) {
  padding: 0 8vw 0 16vw;
}

.image-post.medium {
  margin: 0 auto;
  padding: 0 0 0 8vw;
  justify-self: end;
}
.image-post.medium:nth-of-type(even) {
  padding: 0 8vw 0 0;
}

@media (min-width: 30rem) {
  .image-post.small {
    padding: 0 32vw 0 12vw;
  }
  .image-post.small:nth-of-type(even) {
    padding: 0 12vw 0 32vw;
  }
}

@media (min-width: 36rem) {
  .photo-journal {
    grid-template-columns: 1fr 1fr;
  }
  .image-post.small,
  .image-post.small:nth-of-type(even) {
    padding: 0 6vw;
  }
  .image-post.small:nth-of-type(3n + 1) {
    align-self: center;
    padding: 0 8vw 0 4vw;
  }
  .image-post.small:nth-of-type(3n + 2) {
    align-self: flex-end;
    padding: 0 4vw 0 8vw;
  }

  .image-post.medium,
  .image-post.medium:nth-of-type(even) {
    margin: 2vw auto;
    padding: 0;
  }

  .image-post.large,
  .image-post.large:nth-of-type(even) {
    width: 100%;
    max-width: 90vh;
    grid-column: auto/span 2;
    margin: 0 auto;
    padding: 0 2vw;
  }
}

@media (min-width: 48rem) {
  .image-post.small:nth-of-type(3n + 1) {
    padding: 0 12vw 0 4vw;
  }
  .image-post.small:nth-of-type(3n + 2) {
    padding: 0 4vw 0 12vw;
  }
}

.image-post a {
  display: block;
}

.image-post-title {
  margin-top: 0.5em;
}

.exif-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  max-width: 16em;
}

.exif-grid dt,
.exif-grid dd {
  margin: 0;
}

.exif-grid-item {
  grid-column: 1 / -1;
}

.tag-blocks {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.work-block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 32rem;
}

@media (min-width: 20rem) {
  .exif-grid-item:not(.exif-grid-item-full) {
    grid-column: initial;
  }
}

@media (min-width: 40rem) {
  .layout {
    padding: 6em 8vw 12vw;
  }
}
