@font-face {
  font-family: "Text";
  font-display: fallback;
  src: url("fonts/Text.woff") format("woff"),
    url("fonts/Text.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Text";
  font-display: fallback;
  src: url("fonts/TextBold.woff") format("woff"),
    url("fonts/TextBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Nikolai";
  font-display: fallback;
  src: url("fonts/Nikolai.woff") format("woff"),
    url("fonts/Nikolai.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

:root {
  --background: rgb(0, 0, 0);
  --background-alpha: 0, 0, 0;
  --foreground: rgb(255, 255, 255);
  --foreground-alpha: 255, 255, 255;
  --subdued: rgb(150 150 150);
  --accent: rgb(245, 42, 42);
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  padding: 4em 1em;
  font-family: "Text", system, -apple-system, "Helvetica Neue", Helvetica,
    "Segoe UI", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  cursor: crosshair;
}

@media (min-width: 30em) {
  body {
    padding: 6em 8vw;
  }
}

h1,
p,
ul {
  margin: 0;
  max-width: 30em;
}

h1 {
  font-family: "Nikolai", serif;
  font-size: 2em;
  line-height: 1.2;
  margin-top: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

p + p {
  margin-top: 0.2em;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
  margin: 0;
  padding: 0;
}

a {
  color: var(--foreground);
}

a:hover {
  color: var(--accent);
  cursor: crosshair;
}

hr {
  border: none;
  background: rgba(var(--foreground-alpha), 0.1);
  width: 100%;
  max-width: 4em;
  height: 1px;
  margin: 2em 0;
}

.subdued {
  color: var(--subdued);
}

.inverted {
  --background: rgb(255, 255, 255);
  --background-alpha: 255, 255, 255;
  --foreground: rgb(0, 0, 0);
  --foreground-alpha: 0, 0, 0;
  --subdued: rgb(88 88 88);

  color: var(--foreground);
  background: var(--background);
  padding: 1rem;
  max-width: 30em;
  margin: 2rem 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: rgb(255, 255, 255);
    --background-alpha: 255, 255, 255;
    --foreground: rgb(0, 0, 0);
    --foreground-alpha: 0, 0, 0;
    --subdued: rgb(88 88 88);
  }

  ::selection {
    color: var(--foreground);
  }

  .inverted {
    --background: rgb(0, 0, 0);
    --background-alpha: 0, 0, 0;
    --foreground: rgb(255, 255, 255);
    --foreground-alpha: 255, 255, 255;
    --subdued: rgb(150 150 150);
  }
}
